<%provide(:title,"Nosotros")%>
<%= render(:partial => "static_pages/menubar") %>
  <!--nav class="global-nav top-bar">
    <%= render(:partial => "static_pages/menubar") %>
  </nav-->

<div class="interior-header green">
      <div class="row">
        <div class="large-12 columns large-centered">
          <h1 class="title text-center"> <strong>Nosotros</strong></h1>
        </div>
      </div>
</div>
<div class="talent">
  <div class="row bump-25">
    <div class="medium-10 large-9 columns large-centered">
      <p class="lead">
        <strong>Hi friend!</strong>
        We’re super excited that you’re taking the steps toward your next adventure. If this is the first time we’ve met then
        <strong>WELCOME!</strong>
        And if you’ve been admiring us from afar, then we’re flattered. Either way we’re glad you’re here. We’re ZURB, a product design company in Campbell, CA.</p>
      <p class="lead">ZURB is about people. We are here because of our customers. We’re human-first and we want the best for our team, our customers, and our friends. You’ll want to work with us because you want to think and solve problems. The skills you
        have are important because we elevate each other. We’re looking for individuals who push themselves and inspire those around them. It’s amazing to have that kind of peer support. Being a ZURBian doesn’t mean you are just an engineer, just a designer
        or just a marketer. Everyone at ZURB gets to dip into other areas of interest — that’s what being “T-shaped” is all about!</p>
    </div>
  </div>
  <div class="row">
    <div class="medium-12 large-12 columns">
      <br><hr class="dotted"/><br>
    </div>
  </div>
  <div class="row">
    <div class="medium-12 large-12 columns">
      <h3 class="centered-text light">Let’s get to know each other a little better</h3>
      <p class="lead centered-text">We’re the nicest group of introverts you’ll ever meet.</p>
    </div>
  </div>
  <div class="row bump-25">
    <div class="large-6 columns">
      <p>We’re not going to sugar coat it. At ZURB we move fast and sometimes that can come off as intimidating. ZURBians are determined to solve tough problems. We don’t “just do work.” The work that we do matters to the people we help. In all cases their
        success depends on our collaborations. Plus, creating impactful experiences for users feels pretty #awesomesauce. Our addiction to crushing problems is what gives us that endorphin rush. We get pumped when we learn new techniques, trends and when
        everyone is set to beast mode amazing things start to happen! Plus, we love giving high-fives!</p>
      <p>But we keep it real. ZURBians aren’t just born this way — we’re a learning company. Learning isn’t easy and anything worth doing shouldn’t be. We will make mistakes and drop the ball. But that’s how we learn. Sometimes we need to research
        something for two hours because we don’t have the knowledge.</p>
      <p>Deeper understanding makes us stronger both individually and as a team. So often we over think and we make problems bigger than they should be. We’ve retrained ourselves to stop scrutinizing every granular element and dwelling (and trust us, it’s
        healthier that way). We make mistakes, learn, grow, shuffle, repeat ... We just jump!</p>
    </div>
    <div class="large-5 large-offset-1 columns">
      <img alt="Solo-cups" class="solo-cups" src="../assets/talent/solo-cups-4a35d436d6c8aa56a6889175a5b57f56.jpg"/>
    </div>
  </div>
  <section class="testimonial notable">
    <div class="row">
      <div class="small-12 medium-9 medium-centered columns">
        <div class="quote">
          <p><img alt="Testimonial-icon" class="testimonial-quote-img" src="../assets/services/getstarted/testimonial-icon-75d04f50641575b65f73e517b0d98077.svg"/>
            Everyone at ZURB is crazy talented and super fun to work with. We’re always having a good time and the laughs are endless.</p>
          <p class="citation">Mandi,
            <span class="company-name">Designer</span>
          </p>
        </div>
        <div class="logo">
          <a target="_blank" href="../about.html">
            <img alt="Mz. Mandi Saeteun" class="face" src="../media/mandi_2.jpg">
          </a>
        </div>
      </div>
    </div>
  </section>
  <div class="row">
    <div class="medium-12 large-12 columns">
      <h3 class="centered-text light">Life as a ZURBian</h3>
      <p class="lead centered-text">We love making new friends who share our passion for creating better design and oh yeah, world domination.</p>
    </div>
  </div>
  <div class="row bump-25">
    <div class="large-6 large-off-set-1 columns">
      <img alt="Determined-shawna" class="shawna" src="../assets/talent/determined-shawna-7029aeb41ff5ce233da5e151b2f8f582.jpg"/>
    </div>
    <div class="large-6 columns">
      <p>Goonies never say die and ZURBians never say quit! We will always keep moving forward, like awesome sharks! We want to influence the world with
        <a href="../article/1349/the-problem-with-design-thinking-is-that-.html" target="_blank">progressive design</a>. We push each other to new levels we never thought we could reach. That’s because we’re here for our team and we ask that you’re here for us. Amazing things happen because of trust.</p>
      <p>Our office atmosphere (usually to the tempo of Taylor Swift) sets the tone for life at ZURB because we want to work with awesome people. Our kitchen is fully loaded, and we always have bananas on hand to help you accomplish your goals and increase
        your dopamine levels! Or if you feel beer has the same effect, we have that in stock too.</p>
      <p>Together we move forward day by day, making the web a better place through our products and services. We do it all with under 30 people on our team. Yep, everyone you see on our
        <a href="../about.html" target="_blank">About</a>
        page is who makes ZURB an awesome place to be. No matter what your label is, at ZURB you are a ZURBian.</p>
    </div>
  </div>
