<%provide(:title,"Nosotros")%>
<%= render(:partial => "static_pages/menubar") %>
  <!--nav class="global-nav top-bar">
    <%= render(:partial => "static_pages/menubar") %>
  </nav-->

<div class="interior-header green">
      <div class="row">
        <div class="large-12 columns large-centered">
          <h1 class="title text-center"> <strong>Nosotros</strong></h1>
        </div>
      </div>
</div>
<div class="talent">
  <div class="row bump-25">
    <div class="medium-10 large-9 columns large-centered">
      <p class="lead">
        <strong>Dicho en una forma sencilla GALTEC</strong>
        es una empresa que colabora con otras, diseñando y desarrollando productos tecnológicos digitales, específicamente páginas web, aplicaciones y plataformas educativas.
      </p>
      <p class="lead">
        <strong>Sin embargo,</strong>
        esta definición nos acerca poco al corazón de nuestro servicio. En realidad, los GALTECianos aplicamos nuestro conocimiento y experiencia en proyectos a la medida. Acompañamos a nuestros clientes en la definición de lo que realmente necesitan, con ello y  teniendo el panorama claro tanto para el cliente como para nuestro equipo, ponemos en marcha el proyecto. Buscamos encontrar
        ideas radicales e innovadoras que permiten <strong>mejorar la rentabilidad </strong> de nuestros clientes.
      </p>

      <p class="lead">Con nuestras soluciones tecnologicas nuestros clientes están preparados para competir en este mundo cada vez mas digitalizado, asegurando su estabilidad e incrementando sus
        <strong>ventajas competitivas</strong>, de esa manera creamos un sistema sostenible de desarrollo en nuestro país que es parte de nuestra razón de ser.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="medium-12 large-12 columns">
      <br><hr class="dotted"/><br>
    </div>
  </div>
  <div class="row">
    <div class="medium-12 large-12 columns">
      <h3 class="centered-text light">Ideologia</h3>
      <p class="lead centered-text">En GALTEC estamos convencidos que no es necesario reinventar la rueda para lograr el éxito, por ello utilizamos la mejor tecnología disponible, la adaptamos y agregamos nuevos atributos para obtener resultados innovadores.</p>
    </div>
  </div>
  <div class="row bump-25">
    <div class="large-6 columns">
      <p>
Todo nuestro trabajo no podría ser realizado en otro espacio, más que en una cultura de creatividad y empoderamiento. Compartimos valores que moldean nuestros resultados y que buscan el crecimiento personal y del equipo. </p>
      <p>Estamos convencidos que todos nuestros colaboradores son valiosos y son geniales en lo que hacen.  Aun mas, estamos seguros que cada uno de ellos, desarrolladores, diseñadores, ingenieros, tienen la capacidad de crear soluciones que harán que nuestro mundo cambie para mejor. Asi que, anímate y conoce a los GALTECianos.</p>
      <!-- p>Deeper understanding makes us stronger both individually and as a team. So often we over think and we make problems bigger than they should be. We’ve retrained ourselves to stop scrutinizing every granular element and dwelling (and trust us, it’s
        healthier that way). We make mistakes, learn, grow, shuffle, repeat ... We just jump!</p -->
    </div>
    <div class="large-5 large-offset-1 columns">
      <%= image_tag("GalTec/galtec-work2.svg", alt:"Galtec-trabajo")  %>

      <!--img alt="Solo-cups" class="solo-cups" src="../assets/talent/solo-cups-4a35d436d6c8aa56a6889175a5b57f56.jpg"/ -->
    </div>
  </div>
  <section class="testimonial notable">
    <div class="row">
      <div class="small-12 medium-9 medium-centered columns">
        <div class="quote">
          <p><!--img alt="Testimonial-icon" class="testimonial-quote-img" src="../assets/services/getstarted/testimonial-icon-75d04f50641575b65f73e517b0d98077.svg"/-->
            En GalTec estamos apasionados por nuestro trabajo, por ello disfrutamos hacerlo.</p>
          <!--p class="citation">Mandi,
            <span class="company-name">Designer</span>
          </p>
        </div>
        <div class="logo">
          <a target="_blank" href="../about.html">
            <img alt="Mz. Mandi Saeteun" class="face" src="../media/mandi_2.jpg">
          </a>
        </div -->
      </div>
    </div>
  </section>
  <!--
  <div class="row">
    <div class="medium-12 large-12 columns">
      <h3 class="centered-text light">Life as a ZURBian</h3>
      <p class="lead centered-text">We love making new friends who share our passion for creating better design and oh yeah, world domination.</p>
    </div>
  </div>
  <div class="row bump-25">
    <div class="large-6 large-off-set-1 columns">
      <img alt="Determined-shawna" class="shawna" src="../assets/talent/determined-shawna-7029aeb41ff5ce233da5e151b2f8f582.jpg"/>
    </div>
    <div class="large-6 columns">
      <p>Goonies never say die and ZURBians never say quit! We will always keep moving forward, like awesome sharks! We want to influence the world with
        <a href="../article/1349/the-problem-with-design-thinking-is-that-.html" target="_blank">progressive design</a>. We push each other to new levels we never thought we could reach. That’s because we’re here for our team and we ask that you’re here for us. Amazing things happen because of trust.</p>
      <p>Our office atmosphere (usually to the tempo of Taylor Swift) sets the tone for life at ZURB because we want to work with awesome people. Our kitchen is fully loaded, and we always have bananas on hand to help you accomplish your goals and increase
        your dopamine levels! Or if you feel beer has the same effect, we have that in stock too.</p>
      <p>Together we move forward day by day, making the web a better place through our products and services. We do it all with under 30 people on our team. Yep, everyone you see on our
        <a href="../about.html" target="_blank">About</a>
        page is who makes ZURB an awesome place to be. No matter what your label is, at ZURB you are a ZURBian.</p>
    </div>
  -->
  </div>
