<%provide(:title,"Servicios, Paginas Web, Plataformas Educativas, Marketing Empresarial-SEO")%>
    <%= render(:partial => "static_pages/menubar") %>

<div class="interior-header green">
      <div class="row">
        <div class="large-12 columns large-centered">
          <h1 class="title text-center"> <strong>Servicios</strong></h1>
        </div>

      </div>
</div>

<div class="row">
    <div class="large-9 large-centered columns">
        <h1 class="centered-text light">Paginas Web</h1>
        <br>
        <p class="lead centered-text bottom-40">
          Creamos más que paginas web, <strong>creamos experiencias para el usuario </strong>ofrecemos un diseño único <strong>Responsivo</strong>, estructurada para <strong>SEO</strong>.
          </p>
          <br><br>

    </div>
</div>

<div class="row why-zurbstudios">
    <div class="medium-5 large-7 columns">
        <div class="bleed iterate wow fadeInLeft">
            <%= image_tag("GalTec/analisisweb.svg",alt:"Analisis Paginas Web")%>
        </div>
    </div>
    <div class="medium-7 large-5 columns">
        <h3 class="smaller light">Importancia de una Pagina Web</h3>
        <p class="lead black">Los negocios de hoy en dia necesitan tener presencia en Internet.</p>
        <p> <strong>Trabajamos rápidamente </strong>desde borrador hasta el primer prototipo te presentamos el prototipo para que hagas los cambios necesarios nosotros apoyaremos con sugerencias una vez llegado a un acuerdo generamos otro prototipo, este proceso debe realizarse rápidamente de esta forma sabemos
          que es lo que quieres lograr hasta llegar a un modelo final.</p>

    </div>
</div>

<div class="row why-zurbstudios">
    <div class="medium-5 medium-push-7 large-7 large-push-5 columns">
        <div class="bleed any-device wow fadeInRight">
            <%= image_tag("GalTec/dispositivos.svg",alt:"diseño web")%>

        </div>
    </div>
    <div class="medium-7 medium-pull-5 large-5 large-pull-7 columns">
        <h3 class="smaller light">Diseño Responsive Multiplataforma</h3>
        <p class="lead black">Diseño adaptable a la <strong>experiencia</strong>, no al dispositivo.

        <p>Nuestra prioridad es crear Paginas Webs basadas en los <strong>requerimientos particulares de un negocio o cliente.</strong> Diseños Responsive que se adapatan a todo tipo de dispositivos</p>
        <div class="did-you-know bump-40 show-for-medium-up">
            <div class="star one"></div>
            <h6>Sabia que?</h6>
            <p class="lead black">83% de las personas que tienen celulares acceden a internet desde ese dispositivo.</p>
        </div>
    </div>
</div>

<div class="row">
    <div class="large-9 large-centered columns">
        <h1 class="centered-text light">MARKETING DIGITAL</h1>
        <br>
        <p class="lead centered-text bottom-40">
          Te has dado cuenta de la cantidad de páginas web que muestra google como resultado de tus búsquedas.
Entonces…. ¿Cómo podrías hacer para que tu empresa figure en las primeras opciones de los resultados,  y sea más visible para tus clientes potenciales sin invertir mucho?
La respuesta es, el manejo de SEO (proviene del inglés Search Engine Optimization) es un conjunto de técnicas utilizadas para mejorar la posición que ocupa tu página web en los buscadores.
          </p>
          <br><br>

    </div>
</div>

<div class="row why-zurbstudios">
    <div class="medium-5 large-7 columns">
        <div class="bleed iterate wow fadeInLeft">
            <%= image_tag("GalTec/banner-marketing-digital.png",alt:"Analisis Paginas Web")%>
        </div>
    </div>
    <div class="medium-7 large-5 columns">
        <h3 class="smaller light"> Que ganas con el marketing digital ?</h3>
        <p> <strong> - Mejora tu rentabilidad
        <p> <strong> - Atacarás directamente al nicho de mercado que te interesa.</p>
        <p> <strong> - Lograrás mayores ventas o contactos con clientes potenciales.</p>
        <p> <strong> - La inversión es estable e independiente al número de visitas. </p>
        <p> <strong> - Los negocios de hoy en dia necesitan tener presencia en Internet.</p>


    </div>
</div>
