<!DOCTYPE html>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<meta name="google-site-verification" content="4Z0XnuPtcGIpIlbrslVJBmVEGuzeHYVdzFWCULKi5qU"/>

<link rel="apple-touch-icon-precomposed" sizes="144x144" href="http://zurb.com/assets/favicons/apple-touch-icon-144x144-precomposed-1c628530ebb5b89f08f31b24e228515a.png">
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="http://zurb.com/assets/favicons/apple-touch-icon-114x114-precomposed-22fdf70e868e90fdf38b803f3f04bd55.png">
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="http://zurb.com/assets/favicons/apple-touch-icon-72x72-precomposed-ab8fcdff598e1144570db24ce7f7ce2a.png">
<link rel="apple-touch-icon-precomposed" href="http://zurb.com/assets/favicons/apple-touch-icon-precomposed-1e39f99a3f8053e922b9759600140382.png">
<link rel="icon" href="http://zurb.com/assets/favicons/favicon-d11aa3d99ac6e5ff2539010425c61667.ico" type="image/x-icon"/>

<meta name="keywords" content="Diseño estrategia, Interaccion,Educacion, GalTec, Diseño"/>
<meta name="description" content="ZURB, Creamos experiencias para los usuarios finales. Proveemos Marketing empresarial , Diseño y soluciones.  ,Diseño web, ilustraciones ,Diseño de software, Iconos y trabajo multimedia."/>
<meta name="author" content="GalTec, srl. Galtec Pro Galtec-Pro.com"/>
<meta name="copyright" content="GalTec, srl. Copyright (c) 2017"/>

<title>Galtec | Diseño, Diseño interactivo &amp; Estrategia de Diseño</title>

<link href="http://zurb.com/assets/application-38006bb3404c9c80513b391b4f320dbc.css" media="screen" rel="stylesheet" type="text/css"/>
<link href="http://zurb.com/assets/offcanvas-59e6641931f690c7a96c18edd1547037.css" media="screen" rel="stylesheet" type="text/css"/>

<link rel="alternate" type="application/rss+xml" title="ZURBlog" href="/blog"/>
<script src="http://zurb.com/assets/custom.modernizr-10edc0fdd7691ce0099730e56622df91.js" type="text/javascript"></script>
<script type="text/javascript">
<html>
  <head>
    <title>GalTec</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <%= yield %>
    
  </body>
</html>
